<!-- Incoming code! -->

<div class="modal-header">
    <h3 class="modal-title">Systems online, initializing loading sequence, please hold...</h3>
</div>

<div class="modal-body">
    <ul>
        <li ng-if="isAdmin" ng-repeat="author in authors">
            <a ng-click="viewAuthorDetails(author)">{{author.Name}}</a>
        </li>

        <li ng-if="!isAdmin" ng-repeat="author in authors">
            <a ng-click="viewAuthorDetails(author)">{{author.Name}}</a>
        </li>

    </ul>
    <h3>{{endMessage}}</h3>
</div>
<div class="modal-footer">
</div>