<div class="modal-header">
    <h3 class="modal-title">Genre details</h3>
</div>
<div class="modal-body">

    <div class="form-group">
        <label>Genre name: </label>
        <input type="text" ng-if="isAdmin" ng-model="myGenre.Name" class="form-control" placeholder="Enter genre name">
        <p ng-if="!isAdmin">{{myGenre.Name}}</p>

        <label>Genre description: </label>
        <input type="text" ng-if="isAdmin" ng-model="myGenre.Description" class="form-control" placeholder="Enter genre description">
        <p ng-if="!isAdmin">{{myGenre.Description}}</p>
    </div>


</div>
<div class="modal-footer">
    <button ng-if="isAdmin" class="btn btn-danger" ng-click="Delete()">Delete</button>
    <button ng-if="isAdmin" class="btn btn-primary" ng-click="Save()">Save</button>
    <button class="btn btn-warning" ng-click="Cancel()">Cancel</button>
    <alert ng-repeat="alert in alerts" type="warning" close="closeAlert($index)">{{alert.msg}}</alert>
</div>