 <div class="modal-header">
    <h3 class="modal-title">Ny Författare</h3>
</div>
<div class="modal-body">

    <div class="form-group">
        <label>Namn: </label>
        <input type="text"  ng-model="newAuthor.Name" class="form-control" placeholder="Författarnamn">
    </div>

    
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="Skapa()">Skapa</button>

    <button class="btn btn-warning" ng-click="Avbryt()">Avbryt</button>

    <alert ng-if="authorError" type="warning" close="authorError = !authorError">{{alert.msg}}</alert>

</div>


