<div class="modal-header">
    <h3 class="modal-title">New book</h3>
</div>
<div class="modal-body">

    <div class="form-group">
        <p>
            <label>Book name: </label>
            <input type="text" ng-model="newBook.Name" class="form-control" placeholder="Enter book name">
        </p>
        <p>
            <label>Description: </label>
            <input type="text" ng-model="newBook.Description" class="form-control" placeholder="Enter description">
        </p>

        <p>
            <label>Price:</label>
            <input type="text" ng-model="newBook.Price" class="form-control" placeholder="Enter price">
        </p>        </p>

        <p>
            <label>StockBalance:</label>
            <input type="text" ng-model="newBook.StockBalance" class="form-control" placeholder="Enter number of books in stock">
        </p>

        <p>
            <label>ISBN:</label>
            <input type="text" ng-model="newBook.ISBN" class="form-control" placeholder="Enter ISBN">
        </p>

        <p>
            <label>Year:</label>
            <input type="text" ng-model="newBook.Year" class="form-control" placeholder="Enter year">
        </p>

        <p>
            <label>Add author</label>
            <select class="form-control" ng-model="selectedAuthorID" id="cookieMonster">
                <option ng-repeat="author in Authors" value="{{author.Id}}">
                    {{author.Name}}
                </option>
            </select>
            <button class="btn btn-primary" ng-click="addAuthor()">Add</button>

        <div style="overflow: scroll; height:140px;">
            <div ng-repeat="author in selectedAuthors">
                <br />
                {{ author.Name }}

                <button class="btn btn-warning pull-right" data-ng-click="removeAuthor($index)">Remove</button>
            </div>
        </div>

        <p>
            <label>Add genre</label>
            <select class="form-control" ng-model="selectedGenreID" id="cookieMonster">
                <option ng-repeat="genre in Genres" value="{{genre.Id}}">
                    {{genre.Name}}
                </option>
            </select>
            <button class="btn btn-primary" ng-click="addGenre()">Add</button>
        </p>
        <div style="overflow: scroll; height:140px;">
            <div ng-repeat="genre in selectedGenres">
                <br />
                {{ genre.Name }}

                <button class="btn btn-warning pull-right" data-ng-click="removeGenre($index)">Remove</button>
            </div>
        </div>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="Create()">Create</button>

    <button class="btn btn-warning" ng-click="Cancel()">Cancel</button>

    <alert ng-if="genreError" type="warning" close="genreError = !genreError">{{alert.msg}}</alert>

</div>