<div class="modal-header">
    <h3 class="modal-title">New book</h3>
</div>
<div class="modal-body">

    <div class="form-group">
        <p>
            <label>Book name: </label>
            <input type="text" ng-model="newBook.Name" class="form-control" placeholder="Enter book name">
        </p>
        <p>
            <label>Description: </label>
            <input type="text" ng-model="newGenre.Description" class="form-control" placeholder="Enter description">
        </p>

        <p>
            <label>Add author</label>
                <select class="form-control" ng-model="callMethod" id="method">
                <option ng-repeat="method in restMethods" value="{{method}}">{{method}}</option>
            </select>
        </p>
        <textarea class="form-control" id="data" rows="5" ng-model="callData"></textarea>
        <button class="btn btn-primary" ng-click="">Add</button>
        <button class="btn btn-primary" ng-click="">Remove</button>


        <p>
            <label>Add genre</label>
            <select class="form-control" ng-model="callMethod" id="method">
                <option ng-repeat="method in restMethods" value="{{method}}">{{method}}</option>
            </select>
        </p>
        <textarea class="form-control" id="data1" rows="5" ng-model="callData1" ng-readonly="true"></textarea>
        <button class="btn btn-primary" ng-click="">Add</button>
        <button class="btn btn-primary" ng-click="">Remove</button>

    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="Create()">Create</button>

    <button class="btn btn-warning" ng-click="Cancel()">Cancel</button>

    <alert ng-if="genreError" type="warning" close="genreError = !genreError">{{alert.msg}}</alert>

</div>